*
{
	font-family: Verdana;
	padding: 0px;
	margin: 0px;	
}

a
{
    text-decoration: none;
    
}

#lessIntro
{
    border: 5px solid blue;
    width: 300px;
    padding: 2em;
    background-color: brown;
    color: red;
    margin-top: 3em;
}